[mysqld]
# Needed for compatibility with existing SQL clients / WordPress.
default-authentication-plugin=mysql_native_password

# Listen on all interfaces
bind-address=0.0.0.0

# increase buffer size
sort_buffer_size=4M

# no secure system
secure-file-priv=NULL
max_connections = 251
